.grid-container {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 60px auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "header header"
    "sidebar dashboard";
}

.header {
  grid-area: header;
  background-color: #000;
}

.sidebar {
  grid-area: sidebar;
}

.dashboard {
  grid-area: dashboard;
}

.dashboard h2 {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
