.container {
  display: grid;
  grid-template-columns: 120px 10px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header header header"
    "sidebar . dashboard";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.dashboard {
  grid-area: dashboard;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
